.nav {
  width: 100%; }

.nav-item {
  text-align: center; }

.enterZip {
  background-color: #21252a;
  height: 75px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.zipField {
  width: 200px;
  height: 50px;
  margin: 20px;
  border-radius: 4%; }
