body {
  font-family: Montserrat; }

.nav-item {
  text-align: center; }

table {
  color: #cecece; }

.enterZip {
  background-color: #21252a;
  height: 75px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.zipField {
  width: 200px;
  height: 40px;
  margin: 20px;
  border-radius: 4%; }

footer {
  text-align: center;
  background-color: #cecece;
  height: 50px;
  line-height: 50px;
  margin-top: -16px; }
