.nav {
  width: 100%;
}

.nav-item {
  text-align: center;
}

.enterZip {
  background-color: rgb(33,37,42);  
  height: 75px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zipField {
    width: 200px;
    height: 50px;
    margin: 20px;
    border-radius: 4%;
}

// .table-and-map {
//     display: flex;
// }

// .table-container {
//     width: 50%;
// }

// .map-container {
//     display: inline;
// }