body {
    font-family: Montserrat;
  }

.nav-item {
  text-align: center;
}

table {
    color: #cecece;
}

.enterZip {
  background-color: rgb(33,37,42);  
  height: 75px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zipField {
    width: 200px;
    height: 40px;
    margin: 20px;
    border-radius: 4%;
}

footer {
    text-align: center;
    background-color: #cecece;
    height: 50px;;
    line-height: 50px;
    margin-top: -16px;
}

// .table-and-map {
//     display: flex;
// }

// .table-container {
//     width: 50%;
// }

// .map-container {
//     display: inline;
// }